{{ partial "header" .}}

<h1>{{ .Title }}</h1>
<div class="tags">
  {{ partial "portfolio/tags" .}}
</div>

<img title="{{.Title}}" alt="{{.Title}}" src="/portfolio/{{ .Params.Thumbnail }}" />

{{ .Content }}

<!-- {{ if .Params.testimonial }}
  <h3>Testimonial</h3>
  <div class="testimonial-list">
    {{ with .Params.testimonial }}
        {{ partial "portfolio/testimonial" . }}
    {{ end }}
  </div>
{{ end }} -->
<br>
{{ if .NextInSection }}
  <a href="{{.NextInSection.Permalink}}">
    < Previous project
  </a>
{{ end }}
{{ if .PrevInSection }}
  <a href="{{.PrevInSection.Permalink}}" style="float:right;">
    Next project >
  </a>
{{ end }}
<br>
{{ partial "footer" .}}
